<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<!-- redirect to the article after done the comments -->
<h2>Comments</h2>
<%= render @article.comments %>

<!-- add comments -->
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

 <!-- line back to index, edit  %> -->
<%= link_to 'Back', articles_path %>
<%= link_to 'Edit', edit_article_path(@article) %>
